* {
    margin: 0;
    padding: 0;
}
.galeria{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;

}
.img-galeria{
    width: 300px;
}
.img-galeria:hover{
    opacity: 0.5;
    cursor: pointer;
}